server:
  port: 9991
  contextPath: /auth

security:
  user:
    password: password
  sessions: if-required

management:
  security:
    enabled: false
    sessions: never
    
spring:
  jpa:
    hibernate:
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/microservices_db
    username: root
    password: Test@123
    driver-class-name: com.mysql.jdbc.Driver
    
  mail:
    host: smtp.gmail.com
    username: 
    password: 
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false  
      
    